@import "tailwindcss";

@theme {
  --font-sans: 'Inter', 'System-ui', sans-serif;
}

:root {
  background-color: black;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}